* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

h1 {
   letter-spacing: 2px;
   font-size: 3rem;
   color: rgb(129, 225, 228);
}

p {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 100;
   font-size: 1.4rem;
   letter-spacing: 2px;
}

#bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -2;
}

.background {
   width: 100%;
   height: 100%;
}

.count-section {
   width: 90%;
   height: 70vh;
   margin: auto;
   padding: 20px 10% 10px;
   border: 3.5px solid #fff;
   border-radius: 25px;
   background-color: rgba(255, 255, 255, 0.2);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.count-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 35%;
}

.counter {
   height: 100%;
   width: 23%;
   font-size: 4rem; 
   font-weight: 700;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 2.5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.count:hover {
   background-color: rgba(255, 255, 255, 0.4);
   color: rgb(129, 225, 228);
}

.courtesy-container {
   height: 75px;
   width: 150px;
}

.courtesy {
   width: 100%;
   height: 100%;
   transform: translateX(-10px);
}

.text-container {
   margin-top: 20px;
   text-transform: capitalize;
}

.text-container span {
   font-weight: 700;
}

/***** Footer *****/
 
.attribution { 
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: .8rem; 
   letter-spacing: 1.5px;
   text-align: center; 
   color:#fff;
   margin-bottom: 5px;
}
    
.attribution a:link, .attribution a:visited { 
   font-weight: 700;
   color: #fff;
   text-decoration: underline;
}

@media screen and (min-height: 720px) {
   h1 {
      padding-top: 20px;
   }

   .count-container {
      margin-top: -30px;
   }
}

@media screen and (min-width: 1440px) {
   .count-section {
      width: 70%;
   }
}